[Unit]
Description=Kattbot

[Service]
Type=notify
ExecStart=/home/kattbot-user/kattbot/Kattbot
WorkingDirectory=/home/kattbot-user/kattbot
Environment=DOTNET_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target
