name: kattbot

services:
  kattbot:
    image: ghcr.io/selfdocumentingcode/kattbot:${IMAGE_TAG}
    restart: unless-stopped
    tty: true
    extra_hosts:
      - "host.docker.internal=$HOST_GATEWAY_IP"
    environment:
      Kattbot__BotToken: $BOT_TOKEN
      Kattbot__OpenAiApiKey: $OPENAI_API_KEY
      Kattbot__ConnectionString: $DB_CONNECTION_STRING
    volumes:
      - kattbot-diag-tmp:/tmp
      
  kattbot-diagnostics:
    image: ghcr.io/selfdocumentingcode/dotnet-diag-tools:9.0
    restart: unless-stopped
    tty: true
    pid: service:kattbot
    volumes:
      - kattbot-diag-tmp:/tmp
      
volumes:
  kattbot-diag-tmp:
    driver: local
