name: kattbot-dev

services:
  kattbot:
    build:
      context: ..
      dockerfile: src/Kattbot/Dockerfile
    tty: true
    environment:
      - DOTNET_ENVIRONMENT=Development
    volumes:
      - ${HOME}/.microsoft/usersecrets:/home/app/.microsoft/usersecrets:ro
      - kattbot-diag-tmp:/tmp
  
  kattbot-diagnostics:
    build:
      context: ..
      dockerfile: src/Kattbot/diag.Dockerfile
    tty: true
    pid: service:kattbot
    volumes:
      - kattbot-diag-tmp:/tmp
    profiles:
      - diagnostics
      
  kattbot-pgsql:
    image: postgres:15.5
    ports:
      - "5433:5432"
    profiles:
      - database
    environment:
      POSTGRES_USER: kattbot
      POSTGRES_PASSWORD: hunter2
      POSTGRES_DB: kattbot-dev
    volumes:
      - kattbot-pgdata:/var/lib/postgresql/data

  kattbot-pgadmin:
    image: dpage/pgadmin4
    ports:
      - "5444:80"
    profiles:
      - tools
    depends_on:
      - kattbot-pgsql
    environment:
      PGADMIN_DEFAULT_EMAIL: katt@bot.local
      PGADMIN_DEFAULT_PASSWORD: hunter2

volumes:
  kattbot-pgdata:
    driver: local
  kattbot-diag-tmp:
    driver: local
    
