[Unit]
Description=Kattbot
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=notify
ExecStart=/home/kattbot-user/kattbot/Kattbot
WorkingDirectory=/home/kattbot-user/kattbot
Environment=DOTNET_ENVIRONMENT=Production
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
